.main-navigation
    margin 0 auto
    max-width 1160px
    display flex
    justify-content space-between

    &__info
        width 260px

    &__list
        width 155px

        & a
            color $colorGray50
            Font(Montserrat, 14px, 17px, normal)

        & li
            margin-top 20px

    &__subscribe
        width 260px   

    &__text
        margin-top 20px
        Font(Montserrat, 14px, 24px, normal)
        color $colorGray75