.registration-form
    position relative
    overflow hidden
    height 702px

    &__img
        position absolute
        top -70px

    &__rectangle
       height 646px
       top 50%
       left 50%
       transform translate(-50%, -50%)

.rectangle

    &__reg
        Font(Quicksand, 24px, 30px, bold)

    &__name
       margin-top 20px 

    &__checkbox
        Font(Montserrat, 14px, 24px, normal)
        color $colorGray75
        display flex
        margin-top 10px

        & label 
            cursor pointer

    &__date-birth
        margin-top 20px
    
    &__entry
        margin-top 20px

    &__offer
        Font(Montserrat, 14px, 24px, normal)
        color $colorGray75
        margin-top 10px

    &__input
    
        &_lighten
            color $colorGray25

        &_marginb5
            margin-bottom 5px

    &__button

        &_small_style
            width 99px
            background #fff
            border 2px solid $colorViolet
            color $colorViolet
            padding-top 14px
            margin-top 0

        &_margint20
            margin-top 20px

    &__footer
        display flex
        align-items center 
        justify-content space-between
        margin-top 30px

    &__text
        Font(Montserrat, 14px, 18px, normal)
        