.entry-form
    position relative
    overflow hidden
    height 684px

    &__rectangle
        height 358px
        top 50%
        left 50%
        transform translate(-50%, -50%)

.rectangle

    &__enter
        Font(Quicksand, 24px, 30px, bold)