// Все css файлы (библиотеки, шрифты) импортирую сюда таким образом, они через stylus компилируются в финальный main.css
@import '../css/main.css'; 
@import '../fonts/fontawesome-free-5.9.0-web/css/all.css'; 