@import 'variables.styl';
@import 'mixins.styl';
@import 'libs.styl';
@import '../blocks/button/button.styl';
@import '../blocks/header/header.styl';
@import '../blocks/main-navigation/navigation.styl';

* {
    margin 0
    padding 0
    box-sizing: border-box
}

a, li, button {
    text-decoration none
    list-style-type none
}

.h5
    h5Font(Montserrat, 14px, 17px, bold)

.wrapper 
    max-width 1440px
    margin 0 auto

.material-icons
    position absolute