@import 'variables.styl';
@import 'mixins.styl';
@import 'libs.styl';
@import '../blocks/button/button.styl';
@import '../blocks/header/header.styl';
@import '../blocks/main-navigation/navigation.styl';
@import '../blocks/input/input.styl';
@import '../blocks/footer/footer.styl';
@import '../blocks/main-page/main-page.styl';
@import '../blocks/rectangle/rectangle.styl';
@import '../blocks/registration-form/registration-form.styl';
@import '../blocks/entry-form/entry-form.styl';

* {
    margin 0
    padding 0
    box-sizing: border-box
}

a, li, button {
    text-decoration none
    list-style-type none
}

.h5
    h5Font(Montserrat, 12px, 15px, bold)

.fab
    font-size 24px

.wrapper 
    max-width 1440px
    margin 0 auto

.material-icons
    position absolute