@import 'variables.styl';
@import 'mixins.styl';
@import 'libs.styl';
@import '../blocks/button/button.styl';
@import '../blocks/header/header.styl';

* {
    margin 0
    padding 0
    box-sizing: border-box
}

a, li, button {
    text-decoration none
    list-style-type none
}

.wrapper 
    max-width 1920px
    margin auto

