Font(fontFamily ,size, lh, fw)
    font-family fontFamily + ', sans-serif'
    font-size size 
    line-height: lh
    font-weight fw

buttonFont(fontFamily ,size, lh, fw)
    font-family fontFamily + ', sans-serif'
    font-size size 
    line-height: lh
    text-align: center
    text-transform: uppercase
    font-weight fw

h5Font(fontFamily ,size, lh, fw)
    font-family fontFamily + ', sans-serif'
    font-size size 
    line-height: lh
    text-transform: uppercase
    font-weight fw
