$mainWidth = 1920px
$colorGray50 = rgba(31, 32, 65, 0.5);
$colorGray75 = rgba(31, 32, 65, 0.75);
$colorViolet = #BC9CFF;
$colorVioletGrad = linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$button-color = #ff8dac
