.footer
    height 70px
    margin 0 auto
    max-width 1160px
    display flex
    align-items center
    justify-content space-between

    &__trade-mark
        Font(Montserrat ,14px, 17px, normal)
        color $colorGray75

.fab_margin_r20 {
    margin-right 20px
    background $colorVioletGrad
    background-clip text
    -webkit-background-clip text
    -webkit-text-fill-color transparent
}