.entry-form
    img(src="img/reg-background.png", alt="" class="registration-form__img")
    div(class="rectangle entry-form__rectangle")
        .rectangle__wrap
            .rectangle__enter Войти
            .rectangle__entry
                input(type="text" class="input rectangle__input rectangle__input_width320 rectangle__input_lighten rectangle__input_marginb5" placeholder="Email")
                input(type="password" class="input rectangle__input rectangle__input_width320 rectangle__input_lighten" placeholder="Пароль")
            a(href="#" class="button rectangle__button rectangle__button_margint20") войти
                <i class="material-icons rectangle__material-icons-arrow">arrow_forward</i>
            .rectangle__footer
                .rectangle__text Нет аккаунта на Toxin?
                a(href="registration.html" class="button rectangle__button rectangle__button_small_style") Создать