footer.footer
    .footer__trade-mark Copyright © 2019 Toxin отель. Все права защищены.
    .footer__icons
        a(href="#")
            <i class="fab fa-twitter fab_margin_r20"></i>
        a(href="#")
            <i class="fab fa-facebook-square fab_margin_r20"></i>
        a(href="#")
            <i class="fab fa-instagram fab_margin_r20"></i>

