header.header
    .header__logo
        a(href="index.html")
            img(src="img/Logo.png", alt="")
    .header__nav
        ul
            li
                a(href="#") О нас
            li
                a(href="#") Услуги
                    <i class="material-icons header__material-icons">keyboard_arrow_down</i>
            li
                a(href="#") Вакансии
            li
                a(href="#") Новости
            li
                a(href="#") Соглашения
                    <i class="material-icons header__material-icons">keyboard_arrow_down</i>
    a(href="#" class="button header__button-entry") Войти
    a(href="registration.html" class="button header__button-registration") Зарегистрироваться