.main-page
    img(src="img/main-background.png", alt="" class="main-page__img")
    .main-page__container
        div(class="rectangle main-page__rectangle")
            .rectangle__wrap
                .rectangle__find-room Найдём номера под <br> ваши пожелания
                .rectangle__date
                    .rectangle__check-in
                        h5.h5 Прибытие
                        input(type="text" class="input rectangle__input")
                        <i class="material-icons rectangle__material-icons">keyboard_arrow_down</i>
                    .rectangle__check-out
                        h5.h5 Выезд
                        input(type="text" class="input rectangle__input")
                        <i class="material-icons rectangle__material-icons">keyboard_arrow_down</i>
                .rectangle__guest
                    h5.h5 Гости
                    input(type="text" class="input rectangle__input rectangle__input_width320")
                    <i class="material-icons rectangle__material-icons">keyboard_arrow_down</i>
                a(href="search-room.html" class="button rectangle__button") Подобрать номер
                    <i class="material-icons rectangle__material-icons-arrow">arrow_forward</i>
            


        .main-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
