.main-navigation
    .main-navigation__container
        .main-navigation__info
            .main-navigation__logo
                a(href="#")
                    img(src="img/Logo.png", alt="")
            .main-navigation__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        .main-navigation__list
            h5.h5 Навигация
            ul
                li
                    a(href="#") О нас
                li
                    a(href="#") Новости
                li
                    a(href="#") Служба поддержки
                li
                    a(href="#") Услуги
                    
        .main-navigation__list
            h5.h5 О нас
            ul
                li
                    a(href="#") О сервисе
                li
                    a(href="#") Наша команда
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Инвесторы

        .main-navigation__list
            h5.h5 Служба поддержки
            ul
                li
                    a(href="#") Соглашения
                li
                    a(href="#") Сообщества
                li
                    a(href="#") Связь с нами

        .main-navigation__subscribe
            h5.h5 Подписка
            .main-navigation__text Получайте специальные предложения и новости сервиса
            .main-navigation__form
                input(type="text" class="input main-navigation__input" placeholder="Email")
                a(href="#")
                    <i class="material-icons main-navigation__material-icons">arrow_forward</i>

