.registration-form
    img(src="img/reg-background.png", alt="" class="registration-form__img")
    div(class="rectangle registration-form__rectangle")
        .rectangle__wrap
            .rectangle__reg Регистрация аккаунта
                .rectangle__name
                    input(type="text" class="input rectangle__input rectangle__input_width320 rectangle__input_lighten rectangle__input_marginb5" placeholder="Имя")
                    input(type="text" class="input rectangle__input rectangle__input_width320 rectangle__input_lighten" placeholder="Фамилия")
            .rectangle__checkbox
                .rectangle__male
                    input(type="radio" id="male" name="1")
                    label(for="male")  Мужчина
                .rectangle__female
                    input(type="radio" id="female" name="1")
                    label(for="female")  Женщина
            .rectangle__date-birth
                h5.h5 Дата рождения
                input(type="text" class="input rectangle__input rectangle__input_width320 rectangle__input_lighten" placeholder="ДД.ММ.ГГГГ")
            .rectangle__entry
                h5.h5 Данные для входа в сервис
                input(type="text" class="input rectangle__input rectangle__input_width320 rectangle__input_lighten rectangle__input_marginb5" placeholder="Email")
                input(type="password" class="input rectangle__input rectangle__input_width320 rectangle__input_lighten" placeholder="Пароль")
            .rectangle__offer
                    input(type="checkbox" id="offer" name="1")
                    label(for="offer")  Получать спецпредложения
            a(href="#" class="button rectangle__button rectangle__button_margint20") перейти к оплате
                    <i class="material-icons rectangle__material-icons-arrow">arrow_forward</i>
            .rectangle__footer
                .rectangle__text Уже есть аккаунт на Toxin
                a(href="#" class="button rectangle__button rectangle__button_small_style") войти
        