.room-details
    .photos
        .photos__img-big
            img(src="img/photo-big.png", alt="")
        
        div
            .photos__img-small
                img(src="img/photo-small1.png", alt="")
            .photos__img-small
                img(src="img/photo-small2.png", alt="")

.wrapper



