.header
    height 70px
    margin 0 auto
    max-width 1160px
    display flex
    align-items center


    &__nav
        flex-grow 1

        & ul
            float right

        & li
            display inline
            margin-right 20px

            &:nth-child(2)
                margin-right 44px

            &:nth-child(5)
                margin-right 44px

        & a
            color $colorGray50
            Font(Montserrat, 14px, 17px, normal)
            position relative


    &__button-entry
        color $colorViolet
        width: 87px;
        height: 34px;
        padding-top 9px
        border 2px solid $colorViolet

    &__button-registration
        color #ffffff
        background $colorVioletGrad
        width: 196px;
        height: 34px;
        padding-top 9px
        margin-left 20px

    &__material-icons
        position absolute
        top -4px

