.header
    height 70px
    display flex

    &__nav a
        color $colorGray50
        Font(Montserrat ,14px, 17px, normal)

    &__button-entry
        color $colorViolet
        width: 87px;
        height: 34px;
        padding-top 9px
        border 2px solid $colorViolet

    &__button-registration
        color #ffffff
        background $colorVioletGrad
        width: 196px;
        height: 34px;
        padding-top 9px