.room-details
    height 1424px

.photos
    height 485px
    display flex
    flex-wrap wrap
    box-sizing content-box

    & img 
        display block

    &__img-big, &__img-small
        max-width 100%
        max-height 100%